body {
	background: #FFFFFF;
	font-family: Verdana;
	font-size: 10px;
	color: #000000;
	margin: 0;
	}
a {
	color: #333333;
	text-decoration: none;
	}
hr {
	color: #000000;
	height: 1px;
	}
a:hover {
	color: #0000FF; 
	text-decoration: none;
	}
td {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	}
td.a {
	background: #A0B0E0;
        font-family: Verdana;
        font-size: 11px;
        color: #000000;
        }

td.In-Progress {
        background: #ffd966;
        font-family: Verdana;
        font-size: 11px;
        color: #000000;
        }

td.Completed {
        background: #92d050;
        font-family: Verdana;
        font-size: 11px;
        color: #000000;
        }

td.Completed-S {
        background: #92d050;
        font-family: Verdana;
        font-size: 11px;
        color: #000000;
        }

td.Allotted {
        background: #9bc2e6;
        font-family: Verdana;
        font-size: 11px;
        color: #000000;
        }

td.Not-Automatable {
        background: #bf8f00;
        font-family: Verdana;
        font-size: 11px;
        color: #000000;
        }

td.Scripted {
        background: #e2efda;
        font-family: Verdana;
        font-size: 11px;
        color: #000000;
        }

td.Review {
        background: #c6e0b4;
        font-family: Verdana;
        font-size: 11px;
        color: #000000;
        }

td.Rework {
        background: #a9d08e;
        font-family: Verdana;
        font-size: 11px;
        color: #000000;
        }

td.Checked-In {
        background: #548235;
        font-family: Verdana;
        font-size: 11px;
        color: #000000;
        }

td.Assigned {
        background: #f4b084;
        font-family: Verdana;
        font-size: 11px;
        color: #000000;
        }

td.b {
        background: #A0B0E0;
        font-family: Verdana;
        font-size: 11px;
        color: #000000;
        }

td.Completed {
        background: #D4FFD4;
        font-family: Verdana;
        font-size: 11px;
        color: #000000;
        }

td.pass {
        background: #D4FFD4;
        font-family: Verdana;
        font-size: 11px;
        color: #000000;
        }

td.fail {
        background: #FFAA55;
        font-family: Verdana;
        font-size: 11px;
        color: #000000;
        }

td.TBE {
        background: #FFFFFF;
        font-family: Verdana;
        font-size: 11px;
        color: #000000;
        }

td.na {
        background: #FFFFFF;
        font-family: Verdana;
        font-size: 11px;
        color: #000000;
        }

td.open {
        background: #FFAA55;
        font-family: Verdana;
        font-size: 11px;
        color: #000000;
        }

td.closed {
        background: #D4FFD4;
        font-family: Verdana;
        font-size: 11px;
        color: #000000;
        }

td.copyright {
	background-image: url(images/index_33.gif);
	color: #000000;
	}
td.background0 {
	background-image: url(images/index_04.gif);
	}
td.background1 {
	background-image: url(images/index_05.gif);
	}
td.background2 {
	background-image: url(images/index_06.gif);
	}
td.background3 {
	background-image: url(images/index_08.gif);
	}
td.background4 {
	background-image: url(images/index_10.gif);
	}
td.background5 {
	background-image: url(images/index_12.gif);
	}
td.background6 {
	background-image: url(images/index_14.gif);
	}
td.background7 {
	background-image: url(images/index_16.gif);
	}
td.background8 {
	background-image: url(images/index_18.gif);
	}
td.background9 {
	background-image: url(images/index_20.gif);
	}
input {
	font-family: Verdana;
	background: none;
	border-top: 1px;
	border-bottom: 1px;
	border-left: 1px;
	border-right: 1px;
	border: 1px;
	border-color: #000000;
	border-style: solid;
	color: #000000;
	}
.login {
	border-top: 1px;
	border-bottom: 1px;
	border-left: 1px;
	border-right: 1px;
	border: 1px dashed #666666;
}
.sub {
	line-height: 16px;
}
.news-content {
	font-size: 12px;
}
